SITE_URL=http://localhost:3000
IMG_DIRECTORY=/full/path/to/directory/for/local/storage
PORT=3000
CLOUDINARY_CLOUD_NAME=storage_service_cloudinary_credential_cloud_name
CLOUDINARY_API_KEY=storage_service_cloudinary_credential_api_key
CLOUDINARY_API_SECRET=storage_service_cloudinary_credential_api_secret